.Form-external {
    position: fixed;
    background-color: lightgray;
    width: 100%;
    height: 100%;
    justify-content: center;
    /* Horizontally center */
    align-items: center;
    /* Vertically center */
    display: flex;
}

/* .Form-internal {
    width: 900px;
} */

.StackClass {
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.btn1 {
    width: 50%;
    height: 30%;
}

.btn2 {
    width: 50%;
    height: 30%;
}

.table-scroll-container {
    max-height: 400px;
    overflow-y: auto;
    /* to put scroller */
    border: 1px solid #ccc;
    margin-top: 1rem;
}